body {
    background: #f1f5f9;
}

.gnt-toggle-wrapper label{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
}

.gnt-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.gnt-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.gnt-slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.gnt-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

.gnt-toggle input:checked + .gnt-slider {
    background-color: #007cba;
}

.gnt-toggle input:checked + .gnt-slider:before {
    -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
            transform: translateX(26px);
}

.gnt-repeater-row {
    margin-bottom: 10px;
}
.gnt-repeater-row {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    background: #f8fafc;
}

.gnt-form-select-wrapper {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.gnt-conditional-logic-wrapper {
    margin-top: 15px;
}

.gnt-conditional-logic-wrapper h4 {
    margin: 0 0 10px 0;
    font-size: 14px;
}

.gnt-logic-type {
    margin-bottom: 15px;
}

.gnt-condition-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
}

.wp-core-ui .button.gnt-add-row {
    background: #007cba;
    border-color: #007cba;
    box-shadow: none;
    color: #fff;
    width: 100%;
    max-width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;

    &:hover {
        background-color: lighten(#007cba, 10%);
    }
}

.gnt-condition-field,
.gnt-condition-operator,
.gnt-condition-value {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.gnt-condition-row label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.wp-core-ui .button-link.gnt-remove-row {
    color: #aa0000;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 10px;
}

.wp-core-ui .button-link.gnt-remove-condition {
    color: #aa0000;
    text-decoration: none;
    white-space: nowrap;
}
.gnt-remove-condition:hover,
.gnt-remove-row:hover {
    color: #dc3232;
}

.gnt-add-condition {
    margin-top: 10px;
}

.dashicons-no {
    color: #aa0000;
}
.dashicons-yes {
    color: #00aa00;
}

.gnt-to-email-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
}

small {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px;
    color: darkblue;
}

.gnt-message-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    background: #f8fafc;
}

.gnt-message-wrapper small {
    color: inherit;
    padding: 0;
    background: none;;
}

.gnt-message-wrapper .right {
    max-height: 200px;
    overflow-y: auto;
}

.email-wrap .gnt-merge-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.email-wrap .gnt-merge-tags h4 {
    margin: 0;
}

.back-button {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.gnt-blue-wrapper {
    background: #c0d4ff;
    padding: 10px;
    margin-bottom: 10px;
}

#post-body-content {
    margin-bottom: 0;
}

.gnt-meta-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

#submitdiv {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;

    .postbox-header {
        border: none;
        background: #f8fafc;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    
    #major-publishing-actions {
        background: none;
        border: none;
    }
}

#gnt-publish-button-wrapper {
    display: flex;
    justify-content: flex-end;

    .button {
        background: #007cba;
        border-color: #007cba;
        box-shadow: none;
        color: #fff;
        width: 100%;
        max-width: 300px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 8px;

        &:hover {
            background-color: lighten(#007cba, 10%);
        }
    }
}

#gf_notification_settings {
    background: none;
    border: none;

    .postbox-header {
        border: none;

        h2 {
            padding-left: 0;
        }

        .handle-actions {
            display: none;
        }
    }

    .inside {
        padding: 0;
    }
}

.forms_page_gnt_global_notifications tr {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: grid;
}


@media screen and (max-width: 782px) {
    .gnt-message-wrapper {
        display: block;

        .right {
            max-height: none;
            overflow-y: visible;
        }
    }

    .wp-core-ui .button.gnt-add-row,
    #gnt-publish-button-wrapper .button {
        max-width: 100%;
    }
}